@page
@model IndexModel
@inject Models.HelloWorldService HelloWorldService1
@inject Models.HelloWorldService HelloWorldService2
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <h2 class="display-5">@HelloWorldService1.Now</h2>
    <h2 class="display-5">@HelloWorldService2.Now</h2>
</div>